@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Define User Roles</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">User Roles</a></li>
                    <li class="breadcrumb-item active">Define User Roles</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header">
                        <h3 class="card-title">Creating KOI Project Tracker Roles</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>User Role</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">Super Admin</option>
                                <option>Admin</option>
                                <option>Editor</option>
                                <option>Viwer</option>
                                <option>Client</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Action</label>
                                    <!-- checkbox -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary1" disabled="">
                                            <label for="checkboxPrimary1"> Select All</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary2" checked="">
                                            <label for="checkboxPrimary2"> Define User Roles</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary3" checked="">
                                            <label for="checkboxPrimary3"> View User Roles</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary4" checked="">
                                            <label for="checkboxPrimary4"> Add Client</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary5" checked="">
                                            <label for="checkboxPrimary5"> View Client</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary6" checked="">
                                            <label for="checkboxPrimary6"> Create Student Groups</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary7" checked="">
                                            <label for="checkboxPrimary7"> View Created Student Groups</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary8" checked="">
                                            <label for="checkboxPrimary8"> Add Project Deliverables</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary9" checked="">
                                            <label for="checkboxPrimary9"> Share Documents</label>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary10" checked="">
                                            <label for="checkboxPrimary10"> Add Comments to Documents</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <br /><br /><br />
                                    <label style="display:none">Action</label>
                                        <!-- checkbox -->
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary11" checked="">
                                                <label for="checkboxPrimary11"> Create Tasks</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary12" checked="">
                                                <label for="checkboxPrimary12"> View Tasks</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary13" checked="">
                                                <label for="checkboxPrimary13"> Comment on Tasks</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary14" checked="">
                                                <label for="checkboxPrimary14"> Chats</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary15" checked="">
                                                <label for="checkboxPrimary15"> Client Meetings</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary16" checked="">
                                                <label for="checkboxPrimary16"> View Only</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary17" checked="">
                                                <label for="checkboxPrimary17"> View and Edit</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary18" checked="">
                                                <label for="checkboxPrimary18"> View others profiles</label>
                                            </div>
                                        </div>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                            <input type="checkbox" id="checkboxPrimary19" checked="">
                                                <label for="checkboxPrimary19"> Edit User Details</label>
                                            </div>
                                        </div>
                            </div>
                            </div>
                        </div>
                        <div class="row no-print">
                            <div class="col-12">
                                <button type="button" class="btn btn-primary float-right toastsDefaultSuccess">Submit</button>
                                <button type="button" class="btn btn-success float-right" style="margin-right: 5px;"> Clear All </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col (left) -->
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="../../plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script>
    $('.toastsDefaultSuccess').click(function () {
        $(document).Toasts('create', {
            class: 'bg-success',
            title: 'Saved',
            subtitle: '',
            body: 'User roles successfully saved.'
        })
    });
</script>