@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">View Students Groups</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Group Management</a></li>
                    <li class="breadcrumb-item active">View Students Groups</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header">
                        @* <h3 class="card-title">Assign KOI Project Tracker Roles</h3> *@
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">MIT - Master of Information Technology</option>
                                        <option>BIT - Bachelor of Information Technology</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Trimester</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">T124</option>
                                        <option>T121</option>
                                        <option>T122</option>
                                        <option>T123</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Capstone</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Capstone Project 01</option>
                                        <option>Capstone Project 02</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Tutorial Class</label>
                                    <select class="form-control select2" style="width: 100%;">
                                        <option selected="selected">Tuesday 12:00 pm - 2:00 pm</option>
                                        <option>Tuesday  2:00 pm - 4:00 pm</option>
                                        <option>Wednesday 1:00 pm - 3:00 pm</option>
                                        <option>Wednesday 3:00 pm - 5:00 pm</option>
                                        <option>Wednesday 3:00 pm - 5:00 pm - Newcastle</option>
                                        <option>Tuesday - All</option>
                                        <option>Wednesday - All</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row no-print">
                            <div class="col-12">
                                <button type="button" class="btn btn-success float-right" style="margin-right: 5px;"> Clear All </button>
                                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">Find</button>
                            </div>
                        </div>
                        <div class="post clearfix"></div>
                        <br />
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Group ID</th>
                                    <th>ID - Leader Name </th>
                                    <th>Assigned Project</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>LAT2-3</td>
                                    <td>11901352 - Gaurav Khadka</td>
                                    <td style="color:green">Communication Platform</td>
                                    <td>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">View | </a>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">Edit | </a>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>LAT2-2</td>
                                    <td>12255555 - Ivy Vallecera</td>
                                    <td style="color:red">Not assigned yet</td>
                                    <td>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">View | </a>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">Edit | </a>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">Delete</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>LAT2-1</td>
                                    <td>12211111 - Gera Licayan</td>
                                    <td style="color:green">Living Football</td>
                                    <td>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">View | </a>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">Edit | </a>
                                        <a href="#" style="margin-left: 5px;font-weight:bold">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">«</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>