@model ApplicationUser

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Add Clients</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Register Clients</a></li>
                    <li class="breadcrumb-item active">Add Client</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Add Industrial Clients</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Organization" for="clientNamr">Client Name/Business Name</label>
                                <input asp-for="Organization" type="text" class="form-control" id="clientName" placeholder="Enter client name">
                                <span asp-validation-for="Organization" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Email" for="emailAddress">Email</label>
                                <input asp-for="Email" type="email" class="form-control" id="emailAddress" placeholder="Enter email address">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="ContactName" for="contactPerson1">Contact Person 01 </label>
                                <input asp-for="ContactName" type="text" class="form-control" id="contactPerson1" placeholder="Enter contact person">
                                <span asp-validation-for="ContactName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="PhoneNumber" for="contactNumber1">Contact Number 01 </label>
                                <input asp-for="PhoneNumber" type="text" class="form-control" id="contactNumber1" placeholder="Enter contact number">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="ContactPerson02Name" for="contactPerson2">Contact Person 02 (Optional) </label>
                                <input asp-for="ContactPerson02Name" type="text" class="form-control" id="contactPerson2" placeholder="Enter contact person">
                                <span asp-validation-for="ContactPerson02Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="ContactPerson02Phone" for="contactNumber1">Contact Number 02 (Optional) </label>
                                <input asp-for="ContactPerson02Phone" type="text" class="form-control" id="contactNumber2" placeholder="Enter contact number">
                                <span asp-validation-for="ContactPerson02Phone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="SubmissionLink" for="description">File Upload</label>
                                <input type="file" name="uploadedFile" class="form-control border-0" />
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-12">
                            <input type="submit" value="Create" class="btn btn-primary float-right" />
                            <button type="button" id="clearButton" class="btn btn-success float-right" style="margin-right: 5px;"> Clear All </button>
                            <a asp-controller="ClientRegister" asp-action="Index" class="btn btn-secondary float-right" style="margin-right: 5px;"> Back to List </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#clearButton").click(function () {
            $("#clientName").val('');
            $("#emailAddress").val('');
            $("#contactPerson1").val('');
            $("#contactNumber1").val('');
            $("#contactPerson2").val('');
            $("#contactNumber2").val('');
            $("#description").val('');
            $("#exampleInputFile").val('');
        });
    });
</script>
<script>
    $(document).ready(function () {
        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage) {
            alert(successMessage);
        }
    });
</script>
