@model KOICommunicationPlatform.Models.ViewModels.TutorialViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Add Tutorial</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Configurations</a></li>
                    <li class="breadcrumb-item active">Add Tutorial</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Add New Tutorial</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <form asp-action="Create" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="CourseId"></label>
                                <select asp-for="CourseId" class="form-control" asp-items="Model.CourseList">
                                    <option value="">-- Select Course --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="SubjectId"></label>
                                <select asp-for="SubjectId" class="form-control" asp-items="Model.SubjectList" disabled>
                                    <option value="">-- Select Subject --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="Trimester"></label>
                                <select asp-for="Trimester" class="form-control" asp-items="Model.TrimesterList">
                                    <option value="">-- Select Trimester --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="Lab"></label>
                                <select asp-for="Lab" class="form-control" asp-items="Model.LabTypeList">
                                    <option value="">-- Select Lab Type --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="TutorialNo"></label>
                                <select asp-for="TutorialNo" class="form-control" asp-items="Model.TutorialTypeList">
                                    <option value="">-- Select Tutorial Type --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="Day"></label>
                                <input type="text" asp-for="Day" class="form-control" />
                                <span asp-validation-for="Day" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="FromTime"></label>
                                <input type="text" asp-for="FromTime" class="form-control" />
                                <span asp-validation-for="FromTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="ToTime"></label>
                                <input type="text" asp-for="ToTime" class="form-control" />
                                <span asp-validation-for="ToTime" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                    <div class="row no-print">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right" style="width:150px;margin-left: 5px;">Create</button>
                            <a asp-controller="Tutorial" asp-action="Index" class="btn btn-secondary float-right">Back to List</a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {
    <script>
        $(document).ready(function () {
            // Handle course selection change
            $('#CourseId').change(function () {
                var courseId = $(this).val();
                if (courseId) {
                    $.getJSON('@Url.Action("GetSubjectsByCourse", "Tutorial")', { courseId: courseId }, function (data) {
                        var subjectDropdown = $('#SubjectId'); // Fixed the selector
                        subjectDropdown.empty();
                        subjectDropdown.append($('<option>').text('-- Select Subject --').attr('value', ''));
                        $.each(data, function (i, subject) {
                            subjectDropdown.append($('<option>').text(subject.text).attr('value', subject.value));
                        });
                        subjectDropdown.prop('disabled', false);

                        // Enable Lab Type and Tutorial Type dropdowns
                        $('#Lab').prop('disabled', false);
                        $('#TutorialNo').prop('disabled', false);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.error('Error fetching subjects:', textStatus, errorThrown);
                        $('#SubjectId').prop('disabled', true);
                        $('#Lab').prop('disabled', true);
                        $('#TutorialNo').prop('disabled', true);
                    });
                } else {
                    $('#SubjectId').prop('disabled', true);
                    $('#Lab').prop('disabled', true);
                    $('#TutorialNo').prop('disabled', true);
                }
            });
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}