@model KOICommunicationPlatform.Models.ViewModels.TutorialViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Edit Tutorial</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Configurations</a></li>
                    <li class="breadcrumb-item active">Edit Tutorial</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Edit Course</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="CourseId"></label>
                                <select asp-for="CourseId" asp-items="Model.CourseList" class="form-control" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="SubjectId"></label>
                                <select asp-for="SubjectId" asp-items="Model.SubjectList" class="form-control" disabled="disabled"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Trimester"></label>
                                <select asp-for="Trimester" asp-items="Model.TrimesterList" class="form-control" disabled="disabled"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="Day"></label>
                                <input type="text" asp-for="Day" class="form-control" />
                                <span asp-validation-for="Day" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="FromTime"></label>
                                <input type="text" asp-for="FromTime" class="form-control" />
                                <span asp-validation-for="FromTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="ToTime"></label>
                                <input type="text" asp-for="ToTime" class="form-control" />
                                <span asp-validation-for="ToTime" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right" style="width:150px;margin-left: 5px;">Edit</button>
                            <a asp-controller="Tutorial" asp-action="Index" class="btn btn-secondary float-right">Back To List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}