@model KOICommunicationPlatform.Models.ViewModels.SubjectViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Add Subject</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Configurations</a></li>
                    <li class="breadcrumb-item active">Add Subject</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<section class="content">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Add New Subject</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <form asp-action="Create" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Subject.CourseId" class="form-label">Select Course</label>
                                <select asp-for="Subject.CourseId" class="form-control" asp-items="Model.CourseList"></select>
                                <span asp-validation-for="Subject.CourseId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Subject.SubjectName" class="form-label"></label>
                                <input asp-for="Subject.SubjectName" class="form-control" />
                                <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                    <div class="row no-print">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right" style="width:150px;margin-left: 5px;">Create</button>
                            <a asp-controller="Subject" asp-action="Index" class="btn btn-secondary float-right">Back to List</a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </form>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

