@model KOICommunicationPlatform.Models.ViewModels.SubjectViewModel

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Edit Subject</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Configurations</a></li>
                    <li class="breadcrumb-item active">Edit Subject</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Edit Course</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Subject.Id" />
                <input type="hidden" asp-for="Subject.CourseId" />
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Subject.CourseId">Course</label>
                                <select asp-for="Subject.CourseId" asp-items="Model.CourseList" class="form-control" disabled></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Subject.SubjectName">Subject Name</label>
                                <input asp-for="Subject.SubjectName" class="form-control" />
                                <span asp-validation-for="Subject.SubjectName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right" style="width:150px;margin-left: 5px;">Edit</button>
                            <a asp-controller="Subject" asp-action="Index" class="btn btn-secondary float-right">Back To List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
